/*@media screen and (min-width:650px) {*/

#container{
  float:left;
  width: 25%;
  height: auto;
}

#favorites{
  height: auto;
  /*width: 95%;*/
  font-family: sans-serif;
  border: 5px solid #1F497D;
  border-radius: 5px;
  margin-top: 5px;  
  overflow:auto;
  word-wrap: break-word; 
  font-size: 0.85em;
}

#results{
  float: right;
  width: 75%;
  height: auto;
}

@media (max-width: 750px) {
   #container{
    display:block;
    width:100%;
    height:auto;
    background:red;
  }
  #results{
    display:block;
    width:100%;
    height:auto;
  }
}



html{
  font-family: verdana,sans-serif;
}

h1 {
  margin: 0.4em 0 0.4em 0;
  color: #333;
  font-weight: normal;
  font-size: 2em;
  line-height: 40px;
}

h2 {
  margin: 0.4em 0 0.4em 0;
  color: #333;
  font-weight:normal;
  font-size: 1.5em;
  line-height: 40px;
}

fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
}
 

header p { 
  color: #111; 
  display: block; 
  border-bottom: 1px solid #111;
  z-index: 1; 
}

#menuHeader{
  font-weight: bold;
}

label{
  font-family: monospace, serif;
  font-weight: normal;
  color: #222;
}

.pageNavigator{
  padding:2em;
}

nav{
  text-align: center;
  margin-bottom: 10px;

}
/*Reference for table styling: http://www.textfixer.com/tutorials/css-tables.php*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  width: 2em;
  text-align: center;

}

nav ul a {
  text-align: center;
}

/*source http://www.textfixer.com/tutorials/css-tables.php*/
/*source http://stackoverflow.com/questions/19774653/css3-for-html5-legend-inside-fieldset*/

table{
  font-size:0.95em;
  font-family: verdana,arial,sans-serif;
  color:#333333;
  width: 90%;
  border: 5px solid #1F497D;
  background: #ddd;
  border-radius: 5px;
  margin-left:auto; 
  margin-right:auto;
  border-collapse:collapse;
  overflow:auto;
  word-wrap: break-word; 
}


th {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}

td {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  padding-left: 2px;
}

tr:nth-child(3n+4){
  background-color: #1f497D;
}

td:nth-child(n+3){
  border:none;
}


tbody{
  border: 5px solid #1F497D;
  background: #fff;
  border-radius: 5px;
}

#ajaxButton{
  color: #fff;
  font-family: sans-serif;
  border: 5px solid #1F497D;
  background: #1F497D;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin:auto;
  margin-bottom:20px;
}

#ajaxButton:hover{
  color:#1F497D;
  background:white;
}

#ajaxButton:active{
  color: #fff;
  background: #1F497D;
}

dt {
  padding-top: 10px;
  border-top: 1px solid #1F497D;
}
dd {
  padding-bottom: 10px;
  margin-left: -0.05em;
}