@media screen and (min-width:600px) {
  #container{
    float:left;
  width: 18%;
      height: auto;
  }
  /*#searchForm {
      float: left;
      width: 18%;
      height: auto;
  }*/

  #favorites{
    height: auto;
    width:90%;
    font-family: sans-serif;
    border: 5px solid #1F497D;
    border-radius: 5px;
    margin-top: 5px;  
  }

  #results{
    float: right;
    width: 79%;
    height: auto;
  }
}

@media screen and (max-width:599px){
  section#searchForm{
    display:block;
  }
}


html{
  font-family: verdana,sans-serif;
}

h1 {
  margin: 0.4em 0 0.4em 0;
  color: #333;
  font-weight: normal;
  font-size: 2em;
  line-height: 40px;
}

h2 {
  margin: 0.4em 0 0.4em 0;
  color: #333;
  font-weight:normal;
  font-size: 1.5em;
  line-height: 40px;
}

fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}
 

header p { 
  color: #111; 
  display: block; 
  border-bottom: 1px solid #111;
  z-index: 1; 
}

#menuHeader{
  font-weight: bold;
}

label{
  font-family: monospace, serif;
  font-weight: normal;
  color: #222;
}


.pageNavigator{
  padding:2em;
}

nav{
  text-align: center;
  margin-bottom: 10px;

}
/*Reference for table styling: http://www.textfixer.com/tutorials/css-tables.php*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  display: inline;
  width: 2em;
  text-align: center;

}

nav ul a {
  text-align: center;
}

/*source http://www.textfixer.com/tutorials/css-tables.php*/
/*source http://stackoverflow.com/questions/19774653/css3-for-html5-legend-inside-fieldset*/

table{
  font-family: verdana,arial,sans-serif;
  color:#333333;
  border: 5px solid #1F497D;
  width: 90%;
  border: 5px solid #1F497D;
  background: #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-left:auto; 
  margin-right:auto;
  border-collapse:collapse;
}


th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}

td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
}

tr:nth-child(3n+4){
  background-color: #1f497D;
}

td:nth-child(n+3){
  border:none;
}


tbody{
  border: 5px solid #1F497D;
  background: #fff;
  border-radius: 5px;
}

#ajaxButton{
  color: white;
  font-family: sans-serif;
  border: 5px solid #1F497D;
  background: #1F497D;
  border-radius: 5px;
  padding: 15px; /* this is a light blue */
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

#ajaxButton:hover{
  color:#1F497D;
  background:white;  
}