html{
  font-family: sans-serif;
}

#lowerContainer{
  width:100%;
  overflow:hidden;  
}

#results{
  float:left;
  width:65%;
  height: auto;
  overflow:auto;
  word-wrap: break-word; 
}

h2 {  
  text-transform: uppercase;
  font-weight: bold;
}

#noSearchResultsYet{
  height:20%;
  width:90%;
  border: 1px solid #3A3A3A;
  padding: 10px;  
  word-wrap: break-word; 
  font-size: 0.8em;
  background:#e6e6e6;
}

#favorites{
  float:right;
  width:35%;
  height: auto;
  overflow:auto;
  word-wrap: break-word; 
}

#lowerContainer{
  clear:both;
  display:block;
}

#searchForm{
  display:block;
}

#pagesField{
  display: inline-block;
}

#languageField{
  display:inline-block;
}

h1 {
  margin: 0.4em 0 0.4em 0;
  color: #000;
  font-weight: normal;
  font-size: 2em;
  line-height: 40px;
}

fieldset {
    font-family: sans-serif;
    border: 1px solid #3A3A3A;
    background: #e6e6e6;
    margin-top: 5px;
    margin-bottom: 5px; 
}

fieldset legend {
    background: #585858;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #fff;
    padding:5px;
}

label{
  font-family: monospace, serif;
  font-weight: normal;
  color: #222;
}

.pageNavigator{
  padding-left:2em;
}

nav{
  text-align: left;
  text-transform: uppercase;
  width:100%;
  padding-top:30px;
  padding-left:50px;
  margin-bottom: 10px;
  float:left;
}

[type="radio"], [type="checkbox"] {
  display:inline-block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  width: 2em;
  text-align: center;
}

nav ul a {
  text-align: center;
}

table{  
  height: auto;
  width:90%;
  font-family: arial,sans-serif;
  font-size:0.8em;
  color:#000333;
  border: 1px solid #3A3A3A;
  border-collapse: collapse;
}

th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #3A3A3A;
  background-color: #B3B3B3;
}

td {
  border-right:1px solid #000;
  padding-left: 2px;
}

tr:nth-child(3n+4){
  background-color: yellow;
  border: 1px solid #000;
}

td:nth-child(n+3){
  border:none;
}

tbody{
  border: 1px solid #000;
  border-radius: 5px;
}

#ajaxButton {
  color: #fff;
  font-family: sans-serif;
  border: 1px solid #003300;
  background: #860506;
  border-radius: 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  margin:auto;
}

button {
  color: #fff;
  font-family: sans-serif;
  border: 1px solid #003300;
  background: #860506;
  border-radius: 5px;
  font-size: 1em;
  margin:auto;
}

#ajaxButton:hover, button:hover{
  color:#003300;
  background:white;
}

#ajaxButton:active, button:active{
  color: #fff;
  background: #003300;
}

dl {
  height: auto;
  width:90%;
  font-family: arial,sans-serif;
  font-size:0.8em;
  color:#000;
  border: 1px solid #3A3A3A;
  border-collapse: collapse;
  background:#e6e6e6;
}

dt {
  padding-left: 5px;
  padding-top: 10px;
  border-top: 1px solid #3A3A3A;
}

dd {
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: -0.05em;
}

a {
  color: #0080FF;
}

a:hover {
  color: #58D3F7;
}

a:active{
  color: #0080FF;
}

header{
  background: #0D4F8B;
  padding-left:5px;
  padding-bottom:1px; 
  color:#fff;
}

header p { 
  display: block;
}

#title{
  display:inline;
  color:#fff;
  font-weight: bolder;
  line-height: 1.5em;
  margin-right:1em;
}

#subtitle{
  display:inline;
  color:#fff;
  line-height: 1.5em;
  margin-right:1em;
}

#author{
  display:block;
}

@media (max-width: 700px) {
   #container, #favorites, #results {
    display:block;
    width:100%;
    height:auto;
  } 
}