body{
  font-family:Arial;
}

header p { 
  color: #111; 
  display: block; 
  font-family: Arial, sans-serif; 
  border-bottom: 1px solid #111;
  z-index: 1; 
}


label{
  font-family: monospace, serif;
  font-weight: normal;
  color: #222;
}

@media screen and (min-width:600px) {


  section#searchForm {
      float: left;
      width: 20%;
      height: auto;
      background-color: red;
  }

  section#favoriteGists{
      float: left;
      width: 20%;
      height: auto;
      background-color: green;
  }

  section#results{
      float: right;
      width: 80%;
      height: 80%;
      background-color: blue;
  }
}

@media screen and (max-width:599px){
  section#searchForm{
    display:block;
    background-color:red;
  }
}

.pageNavigator{
  padding:2em;
}

nav{
  float:right;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  display: inline;
  width: 2em;
  text-align: center;

}

nav ul a {
  text-align: center;
}

table {
  width:100%;
}